:root {
  --dark: #2d363d;
  --main: #4d94d7;
  --header-height: 2.2rem;
  --border-radius: 0.6rem;
}

@font-face {
  font-family: title;
  src: url(MonomaniacOne-Regular.ttf);
}

@font-face {
  font-family: para;
  src: url(Ubuntu-Medium.ttf);
}

* {
  font-family: para;
  color: white;
}

body {
  background: linear-gradient(to bottom, #a7cbe1, var(--main), #526b85, #234454);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.header-logo {
  font-family: title;
  font-size: 2rem;
  font-weight: 100;
}

.search-container {
  display: flex;
  background-color: var(--dark);
  border-radius: var(--border-radius);
  height: var(--header-height);
}

input[type="text"] {
  background-color: var(--dark);
  border-radius: var(--border-radius);
  border-style: none;
  padding: 0 0.75rem;
}

input[type="text"]:focus {
  outline: none;
}

#search-button {
  cursor: pointer;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
}

.logo-image {
  height: 3.5rem;
}

.change-units {
  border-style: none;
  background-color: var(--dark);
  height: var(--header-height);
  border-radius: var(--border-radius);
  padding: 0 1rem;
}

.dashboard {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
  gap: 1rem;
  padding: 0 1.5rem;
}

.location {
  font-size: 2.2rem;
  font-weight: 800;
}

.time {
  opacity: 0.6;
}

.local-info,
.other-info {
  display: grid;
  gap: 0.25rem;
  justify-items: center;
}

.main-info,
.forecast-info {
  display: flex;
  align-items: center;
  font-size: 2.2rem;
  font-weight: 600;
}

.forecast-info {
  font-size: 1.5rem;
  font-weight: 500;
}

.forecast-dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18ch, 1fr));
  gap: 0.75rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
}

.current-weather,
.forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem;
  gap: 1rem;
}

footer {
  background-color: var(--dark);
}